registry=https://registry.npmjs.org/
@dodopizza:registry=https://www.myget.org/F/dodopizza/npm/
//www.myget.org/F/dodopizza/npm/:username=${NUGET_USER}
//www.myget.org/F/dodopizza/npm/:_password=${NUGET_PASSWORD_BASE64}
